* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.header__navigation {
  display: flex;
  gap: 58px;
}

.header__navigation a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #07043b;
  text-decoration: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 86px;
  margin: 80px;
}

.hero__container {
  align-self: center;
}

.hero img {
  width: 100%;
  max-width: 640px;
  object-fit: contain;
  justify-self: center;
}

.hero h1 {
  font-family: "Raleway";
  width: 627px;
  height: 120px;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #07043b;
}

.hero p {
  font-weight: 400;
  width: 585px;
  height: 72px;
  font-size: 17px;
  line-height: 24px;
  margin-top: 15px;

  letter-spacing: 0.53125px;

  color: #07043b;
}

.hero__form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #c2c2c2;
  height: 45px;
  max-width: 320px;
  box-sizing: border-box;
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  padding: 14px;
}

.hero__form button {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 200px;
  height: 45px;
  color: white;

  background: #2f65f8;
  border: none;
  border-radius: 3.125px;
}

.hero__section-container {
  margin-top: 86px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 164px;
  background: #f8f8fe;
  padding: 0 80px;
}

.testimonials__container {
  align-self: center;
}

.testimonials__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #07043b;
}

.testimonials__description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #07043b;
  margin-top: 38px;
}

.testimonials__description.without-big-margin {
  margin-top: 16px;
}

.testimonials__main-image {
  max-width: 542px;
  width: 100%;
  object-fit: contain;
  justify-self: center;
}

.testimonials__quote blockquote {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  margin-top: 5px;
  letter-spacing: 0.5px;
  color: #07043b;
}

.testimonials__quote__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonials__quote__author-image {
  border-radius: 50%;
  width: 32px;
  object-fit: contain;
  display: block;
}

.testimonials__quote__author strong {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.55px;
  color: #07043b;
  display: block;
}

.testimonials__quote__author small {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #07043b;
}

.testimonials__link {
  margin-top: 16px;
  display: block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #71dfcc;
}

.testimonials__quote {
  max-width: 356px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  padding: 22px 34px;
  margin-top: 45px;
}

.testimonials__quote__author span {
  margin-top: 16px;
}

.subscription {
  background: #575988;
  width: 100%;
  padding: 85px 80px;
  margin-top: 107px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 180px;
}

.subscription__form__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #6c9bff;
  box-shadow: none;
  border-radius: 3.125px;
  padding: 16px 22px;
  margin-top: 16px;
  width: fit-content;
  box-sizing: border-box;
  border: none;
}

.subscription__form input {
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
  max-width: 480px;
  border: none;
}

.subscription__content__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}
.subscription__content__description {
  font-family: "Open Sans";

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 17px;

  color: #ffffff;
}

.subscription__form small {
  margin-top: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;

  color: #ffffff;
}

.subscription__form {
  max-width: 480px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  background: #07043b;
  color: #ffffff;
  padding: 89px 80px;
}

.footer__logo {
  width: 135px;
  height: 39px;
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer__container__navigation {
  display: grid;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  grid-template-columns: auto;
  gap: 16px;
}

.footer__container__navigation a {
  color: #ffffff;
  text-decoration: none;
}

.footer__container__navigation a:hover {
  text-decoration: underline;
}
.footer__container__info span:first-of-type {
  margin-bottom: 16px;
}

.footer__container__info span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__container__socials span {
  height: 31px;
  width: 31px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container__socials {
  display: flex;
  gap: 10px;
}
